rect.bar:nth-child(even) {
	fill: #84D628; 
}

rect.bar:nth-child(odd) {
	fill: #FF5E45;
}

.axis {
	fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

body {
  font: 10px sans-serif;

}
.axis path,
.axis line {
  fill: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}