rect.bar:nth-child(even) {
	fill: #84D628; 
}

rect.bar:nth-child(odd) {
	fill: #FF5E45;
}

.axis {
	fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

body {
  font: 10px sans-serif;

}

.axis path,
.axis line {
  fill: none;
}

.line {
  fill: none;
  stroke: rgb(0, 67, 88);
  stroke-width: 0.3em;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.commit-circle {
  stroke-width: 0.6em;
}